body, ul, li, p{
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1em;
  font-family: fantasy;
}
body{
  background-image: url("img/fundo.jpeg");
  background-repeat:no-repeat;
  background-position: top;
  background-size: 100%;
  background-attachment: fixed;

}
body{
  margin-bottom: 100px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 34px;
}
.nome{
  font-size: 3em;
}

body{
  margin-bottom: 100px;
}
.header{
  background: pink;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.menu{
 display: flex;

}
.menu li{
  margin-left: 10px;

}
.menu li a{
  display: block;
  padding: 10px;
}

h1{
  color: black;
  text-align: center;
}
.texto{
  color: black;
  text-align: justify;

}
.area{
  position:relative;
  left:37%;
  top:24%;
  width:450px;
  height:120px;
}
.area .formulario{
  position: absolute;
  display: block;
}
fieldset{
  width:600px;
  height:300px;
}
legend{

  font-style:bold;
  color: red;
  font-size: 1,5em;
  font-family: fantasy;
  text-align: center;
}
.formulario input.campo_nome{
  position: absolute;
  left: 95px;
  top: 20px;
  width: 245px;
}
.formulario input.campo_email{
  position:absolute;
  left:95px;
  margin-top:2px;
  width:225px;
}

footer{
  clear:both;
  height: 200px;
  padding: 10px;
  position:relative;
  top: 100px;
  background-color: pink;
}
.footer {
    text-align: right;
    position: absolute;
    height: 100px;
    right: 90px;
    top:95px;

  }
